.mapCell {
    border-radius: 5px;
    display: flex;
    align-items: center;
    place-content: center;
}

.myCellNormal {
    background: #FFF;
    border: 1.5px solid #E2E8F0;
}


.myCellHasShip {
    background: #FFF;
    border: 1.5px solid #48BB78;
    color: #48BB78;
}


.myShipDestroyed {
    border: 1.5px solid #F56565;
    color: #F56565;
}
